.wrapper {
  width: 80%;
  min-height: calc(100vh - 140px);
  margin: 10px auto;
  padding: 20px;
  background-color: #fff;

  .header {
    .title {
      color: #252933;
      margin-bottom: 5px;
    }
    .info {
      color: #8a919f;
      font-size: 14px;
      .nickname {
        color: #515767;
      }
    }
  }

  .content {
    padding: 20px;
  }

  .footer {
  }
}
