.wrapper {
  display: flex;
  align-items: center;
  height: 60px;
  .logo {
    flex: 1;
    padding-left: 20px;
    .box {
      font-size: 1.5rem;
      font-weight: bold;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .navbar {
    padding: 0 15px;
    .link {
      margin: 0 10px;
      font-size: 18px;
      a {
        color: #000;
        text-decoration: none;
      }

      .active {
        color: #1677ff;
      }
    }
  }

  .action {
    padding: 0 20px;

    .avatar {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
