.wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  .logo {
    flex: 1;
    font-size: 1.5rem;
    .box {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .link {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .profile {
    flex: 1;
  }
}
